<lui-dialog class="wizarddialog">
	<lui-dialog-header>
		<lui-dialog-title>Advanced Analytics Expressions Builder</lui-dialog-title>
	</lui-dialog-header>
	<lui-dialog-body class="wizarddialogbody">
		<lui-tab-view>
			<lui-tabset ng-show="false" fill="true" active-tab="tabs">
				<lui-tab ref="tab1" disabled="true">Expression Builder</lui-tab>
				<lui-tab ref="tab2" disabled="true">Master Items</lui-tab>
			</lui-tabset>
			<lui-tab-content ref="tab1">
				<lui-dialog-header class="wizardSelectHeader">
					<lui-dialog-title>Select Advanced Analytics Method:</lui-dialog-title>
					<lui-select ng-model="input.selectedMethod" ng-change="changeWizard()" ng-options="wiz.name for wiz in input.wizardList track by wiz.index">
					</lui-select>
				</lui-dialog-header>
				<lui-dialog-body>
					<div class="inputPlaceholder" ng-if="input.showKey == false">
						<span class="lui-icon  placeholderIcon  lui-icon--effects"></span><br/>
						Select Advanced Analytics Method
					</div>

					<div ng-if="input.showKey == true && input.isLoading == false">

						<div class="wizardtitle"><b>{{input.wizardName}}</b> requires the following parameters:</div>
						<ul class="lui-list">
							<li ng-repeat="par in input.uiarray" class="lui-list__item">
								<span class="lui-list__text">
									<div class="EntryListLeft">
										{{par.name}}
									</div>
									<div class="EntryListRight">
										<div class="InputClearRow"ng-repeat="i in par.itemArray">
											<div class="InputAlignLeft" ng-if="par.type == 'freeform'">
												<input ng-model="i.inputvalue" ng-value="i.inputvalue" class="lui-input"/>
											</div>

											<div class="InputAlignLeft" ng-if="par.type == 'fieldselect'">
												<lui-select x-model="i.inputvalue" ng-value="i.inputvalue">
													<option ng-if="fld.qTags.indexOf(par.tag) !== -1 || par.tag == null || layout.props.allFields" ng-repeat="fld in input.fieldList.qFieldList.qItems" value="{{fld.qName}}">{{fld.qName}}</option>
												</lui-select>
											</div>

											<div class="InputAlignLeft" ng-if="par.includeagg">
												<lui-select x-model="i.aggvalue" ng-value="i.aggvalue">
													<option ng-repeat="agg in input.aggList" value="{{agg}}">{{agg}}</option>
												</lui-select>
											</div>

											<div class="InputAlignLeft" ng-if="par.includedateagg">
												<lui-select x-model="i.dateaggvalue" ng-value="i.dateaggvalue">
													<option ng-repeat="agg in input.dateAggList" value="{{agg.level}}">{{agg.level}} (frequency: {{agg.frequency}})</option>
												</lui-select>
											</div>
											<div class="InputAlignLeft" ng-if="par.array">
												<div class="lui-buttongroup">
													<button ng-if="par.itemArray.length > 1" class="lui-button  lui-buttongroup__button  lui-button--rounded" ng-click="removeArrayItem(par.itemArray,i);"><span class="lui-button__icon  lui-icon  lui-icon--minus"></span></button>
													<button ng-if="i == par.itemArray[par.itemArray.length-1]" class="lui-button  lui-buttongroup__button  lui-button--rounded" ng-click="addArrayItem(par.itemArray,par.arrayItemDefaults);"><span class="lui-button__icon  lui-icon  lui-icon--plus"></span></button>
												</div>
											</div>
										</div>
									</div>
									<div class="EntryListRightHint">{{par.hint}}</div>
								</span>
							</li>
						</ul>
						<div class="wizardtitlespacer"></div>
						<div class="wizardtitle"><b>{{input.wizardName}}</b> can generate the following master items:</div>
						<ul class="lui-list">
							<li ng-repeat="template in input.codeTemplates" class="lui-list__item">
								<span class="lui-list__text">
									<div class="EntryListLeft">
										{{template.type}}
									</div>
									<div class="EntryListRight">
										<label class="lui-checkbox">
											<input class="lui-checkbox__input" type="checkbox" aria-label="Label" ng-model="input.codeTemplates[template.id].enabled" ng-value="input.codeTemplates[template.id].enabled" />
											<div class="lui-checkbox__check-wrap">
												<span class="lui-checkbox__check"></span>
												<span class="lui-checkbox__check-text"><div class="iconspacer"><span class="lui-icon lui-icon--large lui-icon--library" aria-hidden="true"></span></div></span>
												</div>
											</label>
										</div>
										<div class="EntryListRight">
											<input class="lui-input displayNameEntry" ng-model="template.displayName" ng-value="template.displayName"/>
										</div>
									</span>
								</li>
								<li ng-repeat="template in input.variableTemplates" class="lui-list__item">
									<span class="lui-list__text">
										<div class="EntryListLeft">
											Variable
										</div>
										<div class="EntryListRight">
											<label class="lui-checkbox">
												<input class="lui-checkbox__input" type="checkbox" aria-label="Label" ng-model="input.variableTemplates[template.id].enabled" ng-value="input.variableTemplates[template.id].enabled" />
												<div class="lui-checkbox__check-wrap">
													<span class="lui-checkbox__check"></span>
													<span class="lui-checkbox__check-text"><div class="iconspacer"><span class="lui-icon lui-icon--large lui-icon--variables" aria-hidden="true">Ò</span></div><div class="icontext">
														{{template.name}}</div></span>
													</div>
												</label>
											</div>
										</span>
									</li>
								<li ng-repeat="template in input.vizTemplates" class="lui-list__item">
									<span class="lui-list__text">
										<div class="EntryListLeft">
											Visualization
										</div>
										<div class="EntryListRight">
											<label class="lui-checkbox">
												<input class="lui-checkbox__input" type="checkbox" aria-label="Label" ng-model="input.vizTemplates[template.id].enabled" ng-value="input.vizTemplates[template.id].enabled" ng-disabled="input.vizDisabled" />
												<div class="lui-checkbox__check-wrap">
													<span class="lui-checkbox__check"></span>
													<span class="lui-checkbox__check-text"><div class="iconspacer"><span class="lui-icon lui-icon--large lui-icon--{{template.vizicon}}" aria-hidden="true"></span></div></span>
													</div>
												</label>
											</div>
											<div class="EntryListRight">
												<input class="lui-input displayNameEntry" ng-model="template.displayTitle" ng-value="template.displayTitle"/>
											</div>
										</span>
									</li>
								</ul>
								<button class="lui-button lui-button--block buttonTop" ng-click="processButtonClick();"><span class="lui-button__text">{{input.buttonTitle}}</span><span class="lui-button__icon  lui-icon  lui-icon--{{input.buttonIcon}}"></span></button>
							</div>
						</lui-dialog-body>
					</lui-tab-content>
					<lui-tab-content ref="tab2">
						<lui-dialog-header>
							<lui-dialog-title>Qlik Expression Code Preview</lui-dialog-title>
						</lui-dialog-header>
						<lui-dialog-body>
							<button class="lui-button lui-button--block buttonTop" ng-click="processButtonClick();"><span class="lui-button__text">{{input.buttonTitle}}</span><span class="lui-button__icon  lui-icon  lui-icon--{{input.buttonIcon}}"></span></button>
							<ul class="lui-list">
								<div ng-repeat="template in input.codeTemplates"  ng-if="template.enabled">
									<li class="lui-list__header">
										<span class="lui-list__text">{{template.type}}: {{template.displayName}}</span>
									</li>
									<li class="lui-list__item">
										<span class="lui-list__text">
											<div class="PreviewListLeft">
												Description:
											</div>
											<div class="PreviewListRight CodePreview">
												<span class="">{{template.description}}</span>
											</div>
										</span>
									</li>
									<li class="lui-list__item">
										<span class="lui-list__text">
											<div class="PreviewListLeft">
												Expression:
											</div>
											<div class="PreviewListRight CodePreview">
												<span class="CodePreview-code">{{template.outCode}}</span>
											</div>
											<div class="CompletedTick">
												<span ng-show="template.built" class="lui-icon lui-icon--large lui-icon--tick" aria-hidden="true"></span>
											</div>
										</span>
									</li>
								</div>
								<div ng-repeat="template in input.variableTemplates"  ng-if="template.enabled">
									<li class="lui-list__header">
										<span class="lui-list__text">Variable: {{template.name}}</span>
									</li>
									<li class="lui-list__item">
										<span class="lui-list__text">
											<div class="PreviewListLeft">
												Description:
											</div>
											<div class="PreviewListRight CodePreview">
												<span class="">{{template.description}}</span>
											</div>
										</span>
									</li>
									<li class="lui-list__item">
										<span class="lui-list__text">
											<div class="PreviewListLeft">
												Definition:
											</div>
											<div class="PreviewListRight CodePreview">
												<span class="CodePreview-code">{{template.definition}}</span>
											</div>
											<div class="CompletedTick">
												<span ng-show="template.built == 'created'" class="lui-icon lui-icon--large lui-icon--tick" aria-hidden="true"></span>
												<span ng-show="template.built == 'exists'" class="lui-icon lui-icon--large lui-icon--warning-triangle warningOrange" aria-hidden="true"></span>
											</div>
										</span>
									</li>
									<li class="lui-list__item" ng-show="template.built == 'exists'">
										<span class="lui-list__text">
											<div class="PreviewListLeft">
												Warning:
											</div>
											<div class="PreviewListRight CodePreview">
												<span class="warningOrange"><i>The Variable already exists, a new one has not been created and the defintion has <b>NOT</b> been updated.</i></span>
											</div>
										</span>
									</li>
								</div>
							</ul>
							<button class="lui-button lui-button--block buttonTop" ng-click="processButtonClick();"><span class="lui-button__text">{{input.buttonTitle}}</span><span class="lui-button__icon  lui-icon  lui-icon--{{input.buttonIcon}}"></span></button>
						</lui-dialog-body>
					</lui-tab-content>
				</lui-tab-view>
			</lui-dialog-body>
			<lui-dialog-footer>
				<div class="warningLeft">{{input.warningMessage}}</div>
				<button class="lui-button  lui-dialog__footer-button" ng-click="close();">Close</button>
			</lui-dialog-footer>
		</lui-dialog>
